@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/orbitron/v17/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1nyGy6BoWgz.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Teko';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/teko/v10/LYjCdG7kmE0gdQhfsCpgqGIu.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/*colors orange: #823108 turk blue: #0a7eb8 dark blue: #1c0882 green: #088231*/
/*defaults*/
* {
    font-family: Teko, Roboto,'Courier New', Courier, monospace;
}
/*section tags*/
nav {
    background-color: #085982;
    text-align: right;
    padding-top: 25px;
    padding-bottom: 25px;
}
a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding-right: 10%;
}
/*writing tags*/
h1 {
    /*background*/
    background-image: url("../pictures/spacex-OHOU-5UVIYQ-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*text*/
    text-align: center;
    font-family: orbitron, 'Courier New', Courier, monospace;
    font-weight: 800;
    color: white;
    font-size: 5pc;
    /*border*/
    padding-top: 200px;  
}